.footer{
    /* padding: 0 0 50px 0; */
    background-image: url('/img/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.footer img {
    width: 26%;
}

.footer p {
    font-size: 14px;
    font-weight: 400;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin-top: 20px;

}