@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom fonts */
@font-face {
  font-family: Centra;
  src: url(../public/font/CentraNo2-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url(../public/font/CentraNo2-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url(../public/font/CentraNo2-Book.ttf);
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  /* font-family: "Raleway", sans-serif !important; */
}

/* 
===================================
        scrollbar style
==================================== */

/* width */
::-webkit-scrollbar {
  width: 15px;
  background: #fff;
  

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151515;
}
/* 
======================
end of scrollbar style
======================= */

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal !important;
}

.back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 1.5rem;
  background: #151515;
  color: #fff;
  padding: 10px 20px;

  border-radius: 15%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: none;
}

.back-to-top:hover{

}